@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply focus:ring-0;
    @apply focus:border-current;
    border: none;
  }
}

* {
  @apply font-medium;
}

body {
  @apply bg-gray-50;
  @apply overflow-x-hidden;
}

input {
  &[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

button, a, input {
  @apply duration-150;
  @apply hover:duration-300;
  @apply transition-all;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}
